{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
	{% trans 'Lead Orchard|Create Campaign' %}
{% endblock %}


{% block content %}
	<div class="container">
		<div class="row">
			<div id="boxmap"></div>
			<div id="map_results_county" style="word-wrap: break-word;"><span id="county_cnt">0</span> counties found&nbsp;<span id="county_list"></span></div>
			<div class="content">
				<table class="table table-striped">
				    <thead>
					    <tr>
					        <th>Company Name</th>
					        <th>Title</th>
					        <th>First Name</th>
					    	<th>Last Name</th>
					    	<th>Phone Number</th>
					    	<th>Address</th>
					    	<th>City</th>
					    	<th>State</th>
					    	<th>Zip Code</th>
					    	<th>County</th>
					    	<th>Alternative Phone Number</th>
					    	<th>Call Result</th>
					    	<th>Call Result Description</th>
					    	<th>Renewal Date</th>
					    	<th>Email</th>
					    	<th>Comments</th>
					    	<th>SIC Code</th>
					    	<th>SIC Code Description</th>
					    	<th>Naics Code</th>
					    	<th>Naics Code Description</th>
					    	<th>Carrier of Record</th>
					    	<th>LCM</th>
					    	<th>Employee Size</th>
					    	<th>Website</th>
					    	<th>Square Footage</th>
					    	<th>Location Geocoords</th>
					    	<th>Credit Rating</th>
					    	<th>Last Appointment With</th>
					    	<th>Created By</th>
					    	<th>Prospect</th>
					    	<th>Twilio Cid</th>
					    </tr>
				  	</thead>
				  	<tbody>
						{% for campagn in campagns %}
				    		<tr>
						      <td>{{campagn.company_name}}</td>
						      <td><a href="{% url 'campaign:campaign-update' campagn.pk %}">{{campagn.title}}</a></td>
						      <td>{{campagn.first_name}}</td>
						      <td>{{campagn.last_name}}</td>
						      <td>{{campagn.phone_number}}</td>
						      <td>{{campagn.address}}</td>
						      <td>{{campagn.city}}</td>
						      <td>{{campagn.state}}</td>
						      <td>{{campagn.zip_code}}</td>
						      <td>{{campagn.county}}</td>
						      <td>{{campagn.alternative_phone_number}}</td>
						      <td>{{campagn.call_result}}</td>
						      <td>{{campagn.call_result_description}}</td>
						      <td>{{campagn.renewal_date}}</td>
						      <td>{{campagn.email}}</td>
						      <td>{{campagn.comments}}</td>
						      <td>{{campagn.sic_code}}</td>
						      <td>{{campagn.sic_code_description}}</td>
						      <td>{{campagn.naics_code}}</td>
						      <td>{{campagn.naics_code_description}}</td>
						      <td>{{campagn.carrier_of_record}}</td>
						      <td>{{campagn.lcm}}</td>
						      <td>{{campagn.employee_size}}</td>
						      <td>{{campagn.website}}</td>
						      <td>{{campagn.square_footage}}</td>
						      <td>{{campagn.location_geocoords}}</td>
						      <td>{{campagn.credit_rating}}</td>
						      <td>{{campagn.last_appointment_with}}</td>
						      <td>{{campagn.created_by}}.email</td>
						      <td>{{campagn.prospect}}</td>
						      <td>{{campagn.twilio_cid}}</td>
				    		</tr>
						{% endfor %}
				  	</tbody>
				</table>
			</div>
		</div>
	</div>	
	<div id='map-one' class='map'> </div>

{% endblock %}


