{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
	{% trans 'Lead Orchard|Create Campaign' %}
{% endblock %}

{% comment %}
{% block content %}
	<div class="container">
		<div class="row">
			<div id="boxmap"></div>
			<div id="map_results_county" style="word-wrap: break-word;"><span id="county_cnt">0</span> counties found&nbsp;<span id="county_list"></span></div>
			<form id="campaign-create-form" action="{% url 'campaign:campaign-create' %}" method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="row">
						<div class="form-group">
							<div class="col-md-6">
								{{ field.label }}
							</div><br>
							<div class="col-md-6">
								{{ field }}
							</div>
						</div>
					</div>
				{% endfor %}
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>	
	<div id='map-one' class='map'> </div>

{% endblock %}
{% endcomment %}
{% block content %}
	<div class="row">
		<div class="col-md-12">
	        <div class="ibox float-e-margins">
	            <div class="ibox-content">
	    			<div id="boxmap"></div>
	                <div id="map_results_county" style="word-wrap: break-word;"><span id="county_cnt">0</span> counties found&nbsp;<span id="county_list"></span></div>
					<!--<div id="builder">Loading Search Filters</div>-->
	                <br>
	                <div class="query-container">
	                    <div class="row query-object" data-qid="0" style="padding-bottom: 20px;">
	                        <div class="col-lg-2 query-condition">
	                            <select class="form-control qconditions" name="qcondition">
	                                <option value="and">AND</option>
	                                <option value="or">OR</option>
	                            </select>
	                        </div>
	                        <div class="col-lg-4 query-header">
	                            <select class="form-control pheaders" name="pheader">
	                               {% for header in pheaders %}
	                                    <option value="{{ header }}">{{ header }}</option>
	                               {% endfor %} 
	                            </select>
	                        </div>
	                        <div class="col-lg-2 query-option">
	                            <select class="form-control moptions" name="moption">
	                            </select>
	                        </div>
	                        <div class="col-lg-2 query-data">
	                            <textarea class="form-control ldata" name="idata"></textarea>
	                        </div>
	                        <div class="col-lg-2 query-controls">
	                            <button class="btn btn-success add-query"><i class="fa fa-pencil-square-o"></i></button>
	                            <button class="btn btn-danger remove-query" disabled><i class="fa fa-trash-o"></i></button>
	                        </div>
	                    </div>
	                </div>
	                <button class="btn btn-primary parse-mongo">Search</button>
	                <button class="btn btn-success save-query">Save</button>
	                <button class="btn btn-danger clear-query">Clear</button><br>
	                <input class="form-control" type="text" placeholder="Caller ID Number" name="callid" id="callid" style="margin-top: 10px;"/>
	                <!--<select class="pages"></select>-->
	            </div>
	        </div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
	        <div class="ibox float-e-margins">
	            <div class="ibox-content">
	                <div id="snotify"></div>
	    			<div id="result">
				      <h3>Results</h3>
				      <table id="results" class="table table-striped table-bordered" cellspacing="0" width="100%"></table>
				    </div>
	            </div>
	        </div>
		</div>
	</div>
{% endblock %}






