{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
	{% trans 'Lead Orchard| Dashboard' %}
{% endblock %}

{% block content %}

<div class="container">
<div class="row">
<table class="table table-striped">
  	<thead>
	    <tr>
	      	<th>Username</th>
	      	<th>Active</th>
	      	<th>Administrator</th>
	      	<th>Last Login</th>
	    </tr>
  	</thead>
  	<tbody>
  		{% for user in users %}
    	<tr>
	      	<th scope="row">{{user.email}}</th>
    	  	<td>{{ user.is_active }}</td>
      		<td>{{ user.is_admin }}</td>
      		<td>{{ user.last_login }}</td>
		</tr>
		{% endfor %}
  </tbody>
</table>
</div>
</div>
{% endblock %}