{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lead Orchard | Welcome</title>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "css/animate.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">
    </head>

    <body class="gray-bg">
        <div class="logo-div">
            <h1 class="logo-name">Lead Orchard</h1>
        </div>
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <h3>Welcome to Lead Orchard</h3>
                <p>Login in. To see it in action.</p>

                <form class="m-t" method="post" action="{% url "user:login" %}">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% for field in form %}
                        <div class="form-group">
                            {{field}}
                        </div>
                    {% endfor %}

                    <input type="submit" class="btn btn-primary block full-width m-b">Login</input>

                    <a href="{% url 'user:request_password_reset' %}"><small>Forgot password?</small></a>
                    {# <p class="text-muted text-center"><small>Do not have an account?</small></p> #}
                    {# <a class="btn btn-sm btn-white btn-block" href="{% url 'user:create_user' %}">Create an account</a> #}
                </form>
            </div>
        </div>

    <!-- Mainly scripts -->
    <script src="{% static "js/jquery-2.1.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    </body>
</html>
