{% extends 'layout.html' %}
{% load i18n %}

{% block title %}
	{% trans 'Lead Orchard| Reset Password' %}
{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
			</div>
			<div class="col-lg-6">
				<form action="{% url 'user:reset_password' pk %}" method="post">
					{% csrf_token %}
					{% for field in form %}
						<div class="form-group">
							{{ field }}
						</div>
					{% endfor %}
					<input type="submit" class="btn btn-primary" style="float: right;" value="Reset Password"></h2>
				</form>
			</div>
		</div>
	</div>
{% endblock %}