{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}
    {% trans 'Lead Orchard|Create User' %}
{% endblock %}

{% block content %}
    <div class="logo-div">
        <h1 class="logo-name">Lead Orchard</h1>
    </div>
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <p>Create User account.</p>

            <form class="m-t" method="post" action="{% url "user:create_user" %}">
                {% csrf_token %}

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

                {% if register_form.errors %}
                    {% for field in register_form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in register_form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                {% for field in register_form %}
                    <div class="form-group">
                        {{field}}
                    </div>
                {% endfor %}

                <input type="submit" class="btn btn-primary block full-width m-b" value="Register"></input>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    {{block.super}}
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
{% endblock %}