{% extends 'layout.html' %}
{% load i18n %}
{% block title %}
	{% trans 'Lead Orchard|Reset Password' %}
{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-md-3">
			
		</div>
		<div class="col-md-6">
			<h2>
				<p> 
					A password reset link has been sent to your email 
					<strong>
						{{ user.email }}
					</strong> 
					address please check your maailbox.
				</p>
			</h2>
			
		</div>
		
	</div>
</div>

{% endblock %}