{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}
	
{% block title %}
	{% trans 'Lead Orchard | Profile' %}
{% endblock %}

 {% block content %}
	<div class="container">
        <form action="{% url 'user:profile' %}" method="post">
	        <div class="row">
	            <div class="col-lg-12">
	                <div class="ibox float-e-margins">
	                    <div class="ibox-content">
	                        <h2>User&nbsp;Settings&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" class="btn btn-primary" style="float: right;" value="Save"></h2>
	                    </div>
	                </div>
	            </div>
	        </div>
	    	<div class="profile-form">
				<div class="row">
	    			<div class="col-lg-6 registration-form">
	                    <div class="ibox float-e-margins">
	                        <div class="ibox-content">
	                            <h2>Profile Information</h2>
	                            	{% csrf_token %}
		                            {% if profile %}
		                                <div class="form-group">
		                                    <label for="first_name">First Name</label>
		                                    <input type="text" name="first_name" value="{{ profile.first_name }}" class="form-control">
		                                </div>

		                                <div class="form-group">
		                                    <label for="last_name">Last Name</label>
		                                    <input type="text" name="last_name" value="{{ profile.last_name }}" class="form-control">
		                                </div>

		                                <div class="form-group">
		                                    <label for="email">Email</label>
		                                    <input type="email" name="email" value="{{ profile.email }}" class="form-control">
		                                </div>

		                                <div class="form-group">
		                                    <label for="phone">Phone Number</label>
		                                    <input type="tel" name="phone" value="{{ profile.phone }}" class="form-control">
		                                </div>

		                                <div class="form-group">
		                                    <label for="address">Address</label>
		                                    <input type="text" name="address" value="{{ profile.address }}" class="form-control">
		                                </div>

		                                <div class="form-group">
		                                    <label for="city">City</label>
		                                    <input type="text" name="city" value="{{ profile.city }}" class="form-control">
		                                </div>

		                                <div class="form-group">
		                                    <label for="state">State</label>
		                                    <select name="state" class="form-control">
		                                        {% for k,v in states.items %}
		                                            {% if profile.state == k %}
		                                                <option value="{{ k }}" selected>{{ v }}</option>
		                                            {% else %}
		                                                <option value="{{ k }}">{{ v }}</option>
		                                            {% endif %}
		                                        {% endfor %}
		                                    </select>
		                                </div>

		                                <div class="form-group">
		                                    <label for="zip_code">Zip Code</label>
		                                    <input type="text" name="zip_code" value="{{ profile.zip_code }}" class="form-control">
		                                </div>

		                                 <div class="form-group">
		                                    <label for="google_calendar_id">Google Calendar ID</label>
		                                    <input type="text" name="google_calendar_id" value="{{ profile.google_calendar_id }}" class="form-control">
		                                </div>
		                            {% endif %}
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        </form>
    </div>

{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="pull-right">
        </div>
        <div>
            <strong>Copyright</strong> Lead Orchard &copy; 2016-2017
        </div>
{% endblock %}

