{% load staticfiles %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lead Orchard | Welcome</title>
        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "font-awesome/css/font-awesome.css" %}" rel="stylesheet">
        <link href="{% static "css/animate.css" %}" rel="stylesheet">
        <link href="{% static "css/style.css" %}" rel="stylesheet">
        <link href="{% static "css/custom.css" %}" rel="stylesheet">
    </head>

    <body class="gray-bg">
        <div class="logo-div">
            <h1 class="logo-name">Lead Orchard</h1>
        </div>
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <div>
                <h2>Thank you for register in Lead Orchard</h2>
                <h3>Please check your email, a verification code sent to mail</h3> <strong></strong>

                <a class="btn btn-sm btn-white btn-block" href="{% url "user:login" %}">Login</a>

        </div>
    </div>

    <!-- Mainly scripts -->
    <script src="{% static "js/jquery-2.1.1.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    </body>
</html>
