{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}
  
{% block title %}
  {% trans 'OrchardCRM | Lead List' %}
{% endblock %}

{% block style %}
  
{% endblock %}

{% block content %}
      <div class="container">
            <div class="row">
              <div id="boxmap"></div>
              <div id="map_results_county" style="word-wrap: break-word;"><span id="county_cnt">0</span> counties found&nbsp;<span id="county_list"></span></div>
                  {% if lead_list %}
                        <table id="myTable" class="table  table-bordered ">
                              <thead>
                                  <tr>
                                    <th>Appointment Datetime</th>
                                    <th>Company Name </th>
                                    <th>Title </th>
                                    <th>First Name </th>
                                    <th>Last Name </th>
                                    <th>Phone Number </th>
                                    <th>Alternative Phone Number </th>
                                    <th>Email Address </th>
                                    <th>Company Website </th>
                                    <th>Years In Business </th>
                                    <th>Agency Calling For </th>
                                    <th>Agent </th>
                                    <th>Appointment Type </th>
                                    <th>Verified </th>
                                    <th>Address </th>
                                    <th>Location City </th>
                                    <th>Location State </th>
                                    <th>Location Zip Code </th>
                                    <th>County </th>
                                    <th>Location Latitude Longitude </th>
                                    <th>SIC Code </th>
                                    <th>SIC Code Description </th>
                                    <th>NAICS Code </th>
                                    <th>NAICS Code Description </th>
                                    <th>Lead Category </th>
                                    <th>Lead Created By </th> 
                                    <th>Lead Created </th> 
                                    <th>Lead Modified By </th> 
                                    <th>Lead Modified </th> 
                                    <th>Lead Category Modified By </th> 
                                    <th>Lead Category Modified </th> 
                                    <th>Next Renewal Date </th>
                                    <th>Liability Carrier </th> 
                                    <th>Liability Renewal Date </th>
                                    <th>Total Locations </th> 
                                    <th>Workers Compensation Renewal Date </th>
                                    <th>Workers Compensation Carrier </th> 
                                    <th>TotaL Employees </th> 
                                    <th>Auto Renewal Date </th>
                                    <th>Auto Carrier </th>
                                    <th>TotaL Vehicles </th> 
                                    <th>Lead Comments </th>
                                    <th>User Notes </th> 
                                    <th>Attachments </th> 
                                    <th>Return For Credit Request </th>
                                    <th></th>
                                    <th></th>
                                  </tr>
                              </thead>
                              {% for lead in lead_list %}
                                    <tbody>
                                      <tr>
                                        <td>{{lead.appointment_datetime}}</td>
                                        <td>{{lead.company_name}}</td>
                                        <td>{{lead.title}}</td>
                                        <td>{{lead.first_name}}</td>
                                        <td>{{lead.last_name}}</td>
                                        <td>{{lead.phone_number}}</td>
                                        <td>{{lead.alternative_phone_number}}</td>
                                        <td>{{lead.email_address}}</td>
                                        <td>{{lead.company_website}}</td>
                                        <td>{{lead.years_in_business}}</td>
                                        <td>{{lead.agency_calling_for}}</td>
                                        <td>{{lead.agent}}</td>
                                        <td>{{lead.appointment_type}}</td>
                                        <td>{{lead.verified}}</td>
                                        <td>{{lead.address}}</td>
                                        <td>{{lead.city}}</td>
                                        <td>{{lead.state}}</td>
                                        <td>{{lead.zip_code}}</td>
                                        <td>{{lead.county}}</td>
                                        <td>{{lead.location_latitude_longitude}}</td>
                                        <td>{{lead.sic_code}}</td>
                                        <td>{{lead.sic_code_description}}</td>
                                        <td>{{lead.naics_code}}</td>
                                        <td>{{lead.naics_code_description}}</td>
                                        <td>{{lead.lead_category}}</td>
                                        <td>{{lead.lead_created_by}}</td>
                                        <td>{{lead.lead_created}}</td>
                                        <td>{{lead.lead_modified_by}}</td>
                                        <td>{{lead.lead_modified}}</td>
                                        <td>{{lead.lead_category_modified_by}}</td>
                                        <td>{{lead.lead_category_modified}}</td>
                                        <td>{{lead.next_renewal_date}}</td>
                                        <td>{{lead.liability_carrier}}</td>
                                        <td>{{lead.liability_renewal_date}}</td>
                                        <td>{{lead.total_locations}}</td>
                                        <td>{{lead.workers_compensation_renewal_date}}</td>
                                        <td>{{lead.workers_compensation_carrier}}</td>
                                        <td>{{lead.total_employees}}</td>
                                        <td>{{lead.auto_renewal_date}}</td>
                                        <td>{{lead.auto_carrier}}</td>
                                        <td>{{lead.total_vehicles}}</td>
                                        <td>{{lead.lead_comments}}</td>
                                        <td>{{lead.user_notes}}</td>
                                        <td>{{lead.attachments}}</td>
                                        <td>{{lead.return_for_credit_request}}</td>
                                        <td><a href="{% url 'lead:update' lead.id %}" data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-edit"></a></td>
                                        <td><a href="{% url 'lead:delete' lead.id %}" data-toggle="modal" data-target="#myModal" class="glyphicon glyphicon-trash"></a></td>
                                      </tr>
                                    </tbody>
                              {% endfor %}
                        </table>
                      {# .... **Now the pagination section** .... #}
                      {% if is_paginated %}
                          <div class="pagination">
                              <span class="page-links">
                                  {% if page_obj.has_previous %}
                                      <a href="/leads?page={{ page_obj.previous_page_number }}">previous</a>
                                  {% endif %}
                                  <span class="page-current">
                                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                  </span>
                                  {% if page_obj.has_next %}
                                      <a href="/leads?page={{ page_obj.next_page_number }}">next</a>
                                  {% endif %}
                              </span>
                          </div>
                      {% endif %}
                  {% else %}
                      <h3>My leads</h3>
                      <p>No leads found!!! :(</p>
                  {% endif %}
            </div>
      </div>
      <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                    
              </div>
            </div>
      </div>  
  <div id='map-one' class='map'> </div>
{% endblock %}

