{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}{{object_name}} Confirm delete?{% endblock %}
{% block content %}
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Lead Delete Form</h4>
      </div>
      <div class="modal-body">
            <div id="content-container" class="container p-none">
                  <div class="side-p">
                      <h3>Are you sure?</h3>
                      <p>You're about to delete {{ object }}. Please confirm.</p>
                        <form action="{% url 'lead:delete' lead.id %}" method="post">
                          {% csrf_token %}
                          <input class="btn btn-link" 
                                 type="button" value="Cancel" 
                                 onclick="window.history.go(-1);"/>
                          <input class="btn btn-danger" type="submit" value="Confirm"/>
                        </form>
                  </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
{% endblock %}


