{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block stylesheet %}
     <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
  <!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Lead Update Form</h4>
      </div>
      <div class="modal-body">
            <form action="{% url 'lead:update' lead.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
              {{ form.as_p }}
              <input type="submit" value="Update" />
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
{% endblock %}
{% block script %}
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker_timepicker.min.js' %}"></script>
    <script src="{% static 'js/date_time.js' %}"></script>
{% endblock %}