{% load i18n staticfiles %}

<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
   		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}{% endblock %}
		</title>

		{% block stylesheet %}{% endblock %}
		
		{% block extrastyle %}{% endblock %}
		
		{% block extrahead %}{% endblock %}
		
	</head>
	
	<body>
		<!-- Container -->
		<div id="container">
    			<!-- Header -->
    			
			{% block branding %}{% endblock %}
			<!-- END Header -->
		    {% block breadcrumbs %}
		    {% endblock %}

		    {% block messages %}
		    {% endblock messages %}

		    {% block content %}
		    {% endblock %}



		</div>
		<!-- END Container -->
    {% block footer %}{% endblock %}
	</body>
	{% block script %}
	{% endblock %}
</html>
