{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}{% endblock %}

{% block stylesheet %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/mapbox.css' %}" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.css' rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.css' rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css' rel='stylesheet' />
    <link href='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css' rel='stylesheet' />
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/jquery.dataTables.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-editable.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet"/>
{% endblock %}


{% block branding %}
	<div class="row border-bottom">
        <div class="row border-bottom white-bg">
          <nav class="navbar navbar-static-top" role="navigation">
            <div class="navbar-header">
              <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
              </button>
              <a href="#" class="navbar-brand">Lead Orchard</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
              <ul class="nav navbar-nav top-header">
                <li class="{% ifequal request.path '/home' %} active {% endifequal %}">
                    <a href="{% url 'home:home-dashboard' %}">Home</a>
                </li>
                <li class="{% if '/campaign' in request.path and not '/reports/campaign_reports' in request.path %} active {% endif %}">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Campaign&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'campaign:campaign-create' %}">New Campaign</a></li>
                        <li><a href="{% url 'campaign:campaign-list' %}">List Campaigns</a></li>
                    </ul>
                </li>

                <li class="{% if '/leads' in request.path %} active {% endif %} dropdown ">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Leads&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/lead/search">Search</a></li>
                      <li><a href="{% url 'lead:create' %}">New Lead</a></li>
                      <li><a href="{% url 'lead:lead-list' %}">Lead List</a></li>
                    </ul>
                </li>
                <li class="{% if '/appointments' in request.path %} active {% endif %}">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Appointments&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/appointments">Search</a></li>
                      <li><a href="{% url 'appointment:create-appointment' %}">New Appointment</a></li>
                      <li><a href="{% url 'appointment:appointment-list' %}">Appointment List</a></li>
                      <li><a href="/appointments/calendar">Calendar</a></li>
                    </ul>
                </li>
                <li class="{% if '/callbacks' in request.path %} active {% endif %}">
                    <a href="/callbacks">Call Back</a>
                </li>
                
                <li class="{% if '/reports/user_reports' in request.path or '/reports/campaign_reports' in request.path and '/reports/calls' not in request.path %} active {% endif %} dropdown">
                    <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Reports&nbsp;<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/reports/user_reports">User Reports</a></li>
                      <li class="{% if '/reports/calls' in request.path %} active {% endif %}">
                        <a href="/reports/calls">Call History Reports</a>
                      </li>
                      {% if request.user.is_superuser %}
                        <li><a href="/reports/campaign_reports">Campaign Reports</a></li>
                      {% endif %}
                    </ul>
                </li>
                {% if request.user.is_superuser %}
                  <li class="{% if '/prospects' in request.path %} active {% endif %}">
                      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Prospects&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        {# <li><a href="{% url 'campaign:campaign-create' %}">New Campaign</a></li> #}
                        {# <li><a href="{% url 'campaign:campaign-update' 3 %}">Edit Campaigns</a></li> #}
                        <li><a href="/prospects/add">Upload Prospects</a></li>
                        <li><a href="/prospects/entry_search">Search Prospects</a></li>
                        
                      </ul>
                  </li>
                  <li class="{% if '/contacts' in request.path %} active {% endif %} dropdown">
                      <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown">Contacts&nbsp;<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/contacts/view_all">View All Contacts</a></li>
                        <!-- <li><a href="/contacts/add_entry">Add Contact Entry</a></li>
                        <li><a href="/contacts/entry_search">Search/Edit Contact Entry</a></li> -->
                        <li><a href="/contacts/add_sql">Upload Contact Collection</a></li>
                      </ul>
                  </li>
                {% endif %}
                <li><a href="javascript:;" class="btn btn-sm btn-primary btn-dialpad"><i class="fa fa-phone"></i></a></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <!--<li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Profile</a>
                        </li>-->
                        <li>
                            <a href="{% url 'user:profile' %}">Settings</a>
                        </li>
                        {% if request.user.is_superuser %}
                          <li>
                              <a href="{% url 'user:create_user' %}">Create User</a>
                          </li>
                        {% endif %}
                        <li>
                          <a href="/table_display">Table Display</a>
                        </li>
                        <li class="divider"></li>
                        {% if request.user.is_superuser %}
                          <li>
                            <a href="/admin" target="_blank">Admin Portal</a>
                          </li>
                        {% endif %}

                        {% if user.is_authenticated %}
                            <li><a href="{% url 'user:logout' %}">Log Out</a></li>
                        {% else %}
                            <li><a href="{% url 'user:login' %}">Sign In</a></li>
                        {% endif %}
                    </ul>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    </div>
{% endblock %}


{% block content %}

{% endblock %}

{% block footer %}

{% endblock %}

{% block script %}
     {{ block.super }}
    <!-- Mainly scripts -->
    <script src="{% static 'js/jquery-2.1.1.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.10.4.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/metisMenu/jquery.metisMenu.js' %}"></script>
    <script src="{% static 'js/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'js/mapbox.js' %}"></script>
    <script src="{% static "js/plugins/iCheck/icheck.min.js" %}"></script>

    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.5/mapbox.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-draw/v0.2.3/leaflet.draw.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>

    <!-- Custom and plugin javascript -->
    <script src="{% static 'js/inspinia.js' %}"></script>
    <script src="{% static 'js/plugins/pace/pace.min.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'js/plugins/peity/jquery.peity.min.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'js/demo/peity-demo.js' %}"></script>
    <script src="{% static 'js/bootbox.min.js' %}"></script>
    <script src="{% static 'js/prospects_new_list.js' %}"></script>
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/lead_list_custom.js' %}"></script>
    <!-- <script src="{% static 'js/custom_mapbox.js' %}"></script> -->
    <script src="{% static 'js/bootstrap-editable.min.js' %}"></script>
    <script src="{% static 'js/lead_update.js' %}"></script>
    <script src="{% static 'js/moment.min.js' %}"></script>
    <script src="{% static 'js/bootstrap-datetimepicker_timepicker.min.js' %}"></script>
    <script src="{% static 'js/date_time.js' %}"></script>
{% endblock %}