h1.logo-name {
    font-size: 90px;
    text-align: center;
}


body {
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #F3F3F4;
    font-size: 13px;
    color: #676a6c;
    overflow-x: hidden;
}

.footer {
    position: fixed;
}
.navbar {
    margin-bottom: 0;
}
.navbar-brand {
    background: #1ab394;
    color: #fff;
    padding: 15px 25px;
}
.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
}
.nav > li > a {
    padding: 15px 20px;
    color: #676a6c;
    font-weight: 600;
}

.registration-form {
	margin-bottom: 100px;
}

#boxmap {
    position: relative;
    width: 100%;
    height: 300px;
}
ul.nav.navbar-nav.top-header {
    margin: 0 0 0 -2px;
    float: left;
    font-size: smaller;
}
.navbar-header {
    margin-left: 30px;
}
#campaign-create-form {
    margin: 0 0px 0px 350px;

}