{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}
  
{% block title %}
  {% trans 'OrchardCRM | Appointment List' %}
{% endblock %}

{% block style %}
  
{% endblock %}

{% block content %}
      <div class="container">
            <div class="row">
              <div id="boxmap"></div>
              <div id="map_results_county" style="word-wrap: break-word;"><span id="county_cnt">0</span> counties found&nbsp;<span id="county_list"></span></div>
                  {% if appointment_list %}
                        <table id="myTable" class="table  table-bordered ">
                              <thead>
                                    <tr>
                                      <th>Company Name </th>
                                      <th>First Name </th>
                                      <th>Last Name </th>
                                      <th>Phone Number </th>
                                      <th>Address </th>
                                      <th>Location City </th>
                                      <th>Location State </th>
                                      <th>Location Zip Code </th>
                                      <th>Agent </th>
                                      <th>Agency Calling For </th>
                                      <th>Appointment Datetime</th>
                                      <th>Appointment Type </th>
                                      <th>Appointment Comments </th>
                                      <th>View Lead</th>
                                    </tr>
                              </thead>
                              {% for appointment in appointment_list %}
                                    <tbody>
                                          <tr>
                                            <td>{{appointment.company_name}}</td>
                                            <td>{{appointment.first_name}}</td>
                                            <td>{{appointment.last_name}}</td>
                                            <td>{{appointment.phone_number}}</td>
                                            <td>{{appointment.address}}</td>
                                            <td>{{appointment.city}}</td>
                                            <td>{{appointment.state}}</td>
                                            <td>{{appointment.zip_code}}</td>
                                            <td>{{appointment.agent}}</td>
                                            <td>{{appointment.agency_calling_for}}</td>
                                            <td>{{appointment.appointment_datetime}}</td>
                                            <td>{{appointment.appointment_type}}</td>
                                            <td>{{appointment.appointment_comments}}</td>
                                            <td>{{appointment.lead_id}}</td>
                                          </tr>
                                    </tbody>
                              {% endfor %}
                        </table>
                      {# .... **Now the pagination section** .... #}
                      {% if is_paginated %}
                          <div class="pagination">
                              <span class="page-links">
                                  {% if page_obj.has_previous %}
                                      <a href="/appointments?page={{ page_obj.previous_page_number }}">previous</a>
                                  {% endif %}
                                  <span class="page-current">
                                      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                  </span>
                                  {% if page_obj.has_next %}
                                      <a href="/appointments?page={{ page_obj.next_page_number }}">next</a>
                                  {% endif %}
                              </span>
                          </div>
                      {% endif %}
                  {% else %}
                      <h3>My appointments</h3>
                      <p>No appointments found!!! :(</p>
                  {% endif %}
            </div>
      </div>
      <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
              <!-- Modal content-->
              <div class="modal-content">
                    
              </div>
            </div>
      </div>  
  <div id='map-one' class='map'> </div>
{% endblock %}