{% extends 'layout.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}
  {% trans 'OrchardCRM | Create Appointment' %}
{% endblock %}
{% block content %}
      <div class="container">
            <div class="row">
              <div id="boxmap"></div>
              <div id="map_results_county" style="word-wrap: break-word;"><span id="county_cnt">0</span> counties found&nbsp;<span id="county_list"></span></div>
                  <div class="col-md-4 col-md-offset-4">
                        <form id="lead-create-form" action="/appointment/create" method="post" enctype="multipart/form-data">
                              {% csrf_token %}
                              {% for field in form %}
                                    <div class="row">
                                          <div class="form-group">
                                            <div class="col-md-6">
                                              {{ field.label_tag }}
                                            </div>
                                            <div class="col-md-6">
                                              {{ field }}
                                            </div>
                                          </div>
                                    </div>
                              {% endfor %}
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                  </div>
            </div>
      </div>  
      <div id='map-one' class='map'> </div>
{% endblock %}